//Custom variables
// Customize the colours here or delete to keep as default
$primary:       #cc5013;
$secondary:     #19947f;
$tertiary:      #f6b609;
/*$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;*/
$light:         #7ab84a;
$neutral-b:     #57a5d1;
$dark:          #a86f9f;
$earth_a:       #705237;
$earth_b:       #996a41;
$earth_c:       #af8765;
$muted_y:       #eddba5;
$beige_a:       #e3dcc0;

//custom added colouus
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$custom-theme-colors: (
  "tertiary":    $tertiary,
  "neutral_b":   $neutral_b,
  "earth_a":     $earth_a,
  "earth_b":     $earth_b,
  "earth_c":     $earth_c,
  "muted_y":     $muted_y,
  "beige_a":     $beige_a,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//custom fonts
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Set bootstap default to poppins font
$font-family-sans-serif: "Poppins", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

//custom variables with other fonts
$font-family-custom-accent: "Anonymous Pro";

$font-family-custom-headings: "Anonymous Pro";

//Import bootstrap -- all variables must be above this
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

//Set headings to use heading font
h1, h2, h3, h4, h5, h6{
    font-family: $font-family-custom-headings 
}

.image-container {
  position: relative;
}

.image2 {
  position: absolute;
  bottom: -10%;
  left: -2vw;
}

.image3 {
  position: absolute;
  bottom: -2%;
  left: -2vw;
  height: 140%;
  max-width: 200%;
}