//Custom variables



// Customize the colours here or delete to keep as default
$primary:       #cc5013;
$primary_muted: #ce835e;
$secondary:     #19947f;
$tertiary:      #f6b609;
$tertiary_muted:#f4d171;
/*$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;*/
$light:         #7ab84a;
$neutral-b:     #57a5d1;
$dark:          #a86f9f;
$earth_a:       #705237;
$earth_b:       #996a41;
$earth_c:       #af8765;
$muted_y:       #eddba5;
$beige_a:       #e3dcc0;

//custom added colouus
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
$custom-theme-colors: (
  "tertiary":    $tertiary,
  "neutral_b":   $neutral_b,
  "earth_a":     $earth_a,
  "earth_b":     $earth_b,
  "earth_c":     $earth_c,
  "muted_y":     $muted_y,
  "beige_a":     $beige_a,
  "primary_muted": $primary_muted,
  "tertiary_muted": $tertiary_muted,
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@font-face {
  font-family: ANGRYfont;
  src: "../fonts/ANGRYfontfile.ttf";
}

//$font-family-base:

$headings-font-family: ANGRYfont, Roboto;

//Import bootstrap -- all variables must be above this
@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

//Set headings to use heading font
//h1, h2, h3, h4, h5, h6{
//    font-family: $font-family-custom-headings;
//}

.image-container {
  position: relative;
}

.image2 {
  position: absolute;
  bottom: -10%;
  left: -2vw;
}

.image3 {
  position: absolute;
  bottom: -2%;
  left: -2vw;
  height: 140%;
  max-width: 200%;
}