<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>ANGRY site blog test</title>

    <link href="/css/custom-main.min.css" rel="stylesheet">

      
    <!-- component scripts -->
    <script src="/components/header.js" type="text/javascript" defer></script>
    <script src="/components/footer.js" type="text/javascript" defer></script>
</head>
<body>
    <header>
    <!-- Navbar  -->
    <header-component></header-component>

    </header>
    <main>
        <div class="container p-3 my-4 bg-primary_muted rounded-1">
            <h1>{{title | safe}}</h1>
        </div>

        <div class="container p-3 my-4 bg-beige_a rounded-1">
            {{ content | safe }}
        </div>

    </main>

        <!-- Footer -->
        <footer-component></footer-component>
</body>
</html>